[Unit]
Description=go-webserver
After=network-online.target

[Service]
Environment="LOCUST_USER=%i"
Environment="LOCUST_USER_MAX={{ ansible_processor_vcpus }}"
LimitNOFILE=500000
LimitNPROC=500000
ExecStart=/opt/python/venv/bin/locust --slave --master-host={{ hostvars[groups['locust.master.private'][0]]['inventory_hostname'] }} --master-port=9000
WorkingDirectory=/opt/python/locust
Restart=always

[Install]
WantedBy=multi-user.target
