[Unit]
Description=ping
After=network-online.target

[Service]
Environment=PING_URL=http://{{ hostvars[groups['locust-metrics'][0]]['inventory_hostname'] }}/ww2.html
ExecStart=/usr/bin/python3.6 ping.py
WorkingDirectory=/opt/python/ping
Restart=always

[Install]
WantedBy=multi-user.target
